---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION, ABOUT_ME } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
	<!-- Hero -->
	<div class="text-center text-white bg-[url('../sky.jpeg')] bg-cover p-1">
		<h1 class="md:text-6xl uppercase tracking-[0.4em] font-bold pt-24 pb-8">{SITE_TITLE}</h1>
		<hr class="w-2/12 h-[2px] bg-white border-0 mx-auto" />
		<p class="pt-5 pb-10">
			{SITE_DESCRIPTION}
		</p>
	</div>
	<main class="md:grid md:grid-cols-12 md:gap-6 px-[5%] py-3">
		<section class="col-span-8 bg-white px-[5%] py-3 mt-3 grid md:grid-cols-2 gap-2">
			{ posts.map(post => (
				<div class="">
					<a href={`/blog/${post.slug}`} class="border-1 block">
						<img src="/sky.jpeg" />
						<span class="text-gray-500 text-md"><FormattedDate date={post.data.pubDate} /></span><br />
						<span class="font-bold text-lg">{post.data.title}</span><br />
						<span>{post.data.description}</span><br />
						</a>
				</div>
				))}
		</section>
		<section class="col-span-4 mt-3">
			<div class="bg-white px-[5%] py-3">
				<h2 class="uppercase mb-2">About me</h2>
				<hr class="border-0 bg-sky-400 h-1 w-12 mb-5"/>
				<div class="text-center border-2 border-gray-220 rounded-lg">
					<img src="me.jpeg" class="rounded-full p-[10%]" />
					<p class="text-lg">Mika Ahopelto</p>
					<p class="px-[5%] py-3"> 
						{ ABOUT_ME }
					</p>
					<div class="bg-gray-200 rounded-b-lg p-3 text-center">
						<a href="https://fi.linkedin.com/in/mikaahopelto">
							<img src="in.png" alt="LinkedIn profile" class="w-1/5 inline" />
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>