---
import MainLayout from '../layouts/MainLayout.astro'
import AboutMe from '../components/AboutMe.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<MainLayout>
	<!-- Hero -->
	<div class="text-center text-white bg-[url('../sky.jpeg')] bg-cover p-1">
		<h1 class="md:text-6xl text-2xl uppercase tracking-[0.4em] font-bold pt-24 pb-8">{SITE_TITLE}</h1>
		<hr class="w-2/12 h-[2px] bg-white border-0 mx-auto" />
		<p class="pt-5 pb-10">
			{SITE_DESCRIPTION}
		</p>
	</div>
	<main class="md:grid md:grid-cols-12 md:gap-6 px-[5%] py-3">
		<section class="col-span-8 grid md:grid-cols-2 gap-5">
			{ posts.map(post => (
				<div class="bg-white mt-3">
					<a href={`/blog/${post.slug}`} class="block pb-5">
						<img src={post.data.heroImage} class="pb-3" />
						<div class="text-gray-500 text-sm px-[5%]"><FormattedDate date={post.data.pubDate} /></div>
						<h1 class="font-bold text-lg px-[5%]">{post.data.title}</h1>
						<div class="px-[5%] block">{post.data.description}</div>
						</a>
				</div>
				))}
		</section>
		<section class="col-span-4 mt-3">
			<AboutMe />
		</section>
	</main>
</MainLayout>